/* The Modal (background) */
.modalGallery {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #000;
    margin: 4% auto; /* 15% from the top and centered */
    padding: 20px;
    min-width: 10%; /* Could be more or less, depending on screen size */
    max-width: inherit; /* Old: 90% */
    display: inline-block;

    transition: all .2s;
    transform: scale(0);
    opacity: 0;
}

.modal-content img {
    max-width: 100%;
}

/* The Close Button */
.modalGallery .closeModalGallery {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    background-color: #fff;
    width: 28px;
    line-height: 1;
}

.modalGallery .closeModalGallery:hover,
.modalGallery .closeModalGallery:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

body.modal-open .modal-content {
	animation-duration: .5s;
    animation-name: slidein;
    transform: scale(1);
    opacity: 1;
}

body.modal-close .modal-content {
	animation-duration: .5s;
    animation-name: slideout;
    transform: scale(0);
    opacity: 0;
}

/* Animação */

@keyframes slidein {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slideout {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

/* Responsivo */

@media only screen and (max-width: 575px) {
    .modal-content img {
        max-width: 700px;
    }
    .modalGallery .closeModalGallery {
        position: fixed;
    }
}